<div class="group-profile" *ngIf="group$ | async as group">
    <app-display-group-name [group]='group$'></app-display-group-name>
    <!--<app-display-group-field [group]='group$' [field]="'description'"></app-display-group-field>
    <app-display-members [group]='group$'></app-display-members>-->
    <app-posts-display ></app-posts-display>
    <app-received-invites *ngIf="isMember | async" [groupId]='groupId' [inviteList]='inviteList'></app-received-invites>
    <button *ngIf="!(inviteSent || (isMember | async))" class="button" (click)="sendInvite()">Send Invite</button>
    <p *ngIf="(inviteSent && !(isMember | async))">Invite Sent</p>
</div>