nav {
    position: fixed;
    width: 100vw;
    background-color: #5a98db;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    margin-right: 0px;
    z-index: 999;
    justify-content: space-between;
}
li {
    list-style-type: none;
    font-family: 'Baloo Da 2';
    font-weight:500;
}
.lean-left {
    display: flex;
    align-items: center;
}
.lean-right {
    display: flex;
    align-items: center;
}
li button {
    width: 50px;
    font-family: 'Baloo Da 2';
    margin: 10px 10px 10px 10px;
    font-weight:500;
    background-color: #59d99b;
    
}
