<div class="container">
    <h1>Create Group</h1>
    <form #postForm="ngForm">
        <div class="form-group">
            <label for="name">Group Name</label><br>
            <input id="name" class="form-control" type="text" [formControl]="name" name="name" required><br>
        </div>
        <div class="form-group">
            <label for="submit">Add Group</label><br>
            <input id="submit" class="form-control" type="submit" (click)="add_group()">
        </div>
        <p *ngIf="!_isUnique">Sorry, this name isn't unique. Please try again.</p>
    </form>
</div>
