<div class="home">
        <div class="buttons">
            <button class="button" #toggle_group (click)="toggleGroup()">Add Group</button>
            <button class="button" #toggle (click)="toggleCompose()">Add Post as User</button>
        </div>
        <app-compose (clickOutside)="closeCompose()" [userId]="userId" *ngIf="showCompose" (onRefresh)="refresh()"></app-compose>
        <app-create-group (clickOutside)="closeGroup()" *ngIf="showGroup"></app-create-group>
        <ng-container *ngIf="infinite | async as posts">
            <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="nextBatch($event, (posts[posts.length - 1].date))" class="example-viewport">
                <div *cdkVirtualFor="let post of posts; templateCacheSize: 20; trackBy: trackByIdx" class="example-item">
                    <mat-card class="post">
                        <mat-card-header>
                            <mat-card-title [routerLink]="[post.poster.isGroup ? '/groups' : '/users', post.poster.name]">{{post.poster.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{post?.text}}</p>
                            <p>{{post?.date}}</p>
                        </mat-card-content>
                        <p></p>
                    </mat-card>
                </div>
            </cdk-virtual-scroll-viewport>
            <!--<button (click)="add_post_group()"></button>-->
        </ng-container>
</div>