

  .post {
    margin: 5px 5px 5px 5px;
  }
  app-compose, app-create-group{
    background: white;
    position: absolute;
    z-index: 999;
    border-style: solid;
  }
  cdk-virtual-scroll-viewport {
    height: 90vh;
    width: 100%;
    background: lightblue;
    // Bonus points
    &::-webkit-scrollbar {
      width: 0em;
    }
  
  }
