
<div class="container">
    <h1>Create Post</h1>
    <form>
        <div class="form-group">
            <label for="post_text">Post Text</label><br>
            <input id="post_text" class="form-control" type="text"><br>
        </div>
        <div class="form-group">
            <label for="on_behalf_of">On Behalf Of</label><br>
            <select class="form-control" id="on_behalf_of" required>
                <option *ngFor="let poster of posters" [value]="poster">{{poster.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="submit">Add Post</label><br>
            <input id="submit" class="form-control" type="submit" (click)="add_post()">
        </div>
    </form>
</div>